@charset "utf-8";

// Set your brand colors
$success-mine: #AEFF54;
$link-mine: #54A0FF;
$danger-mine: #FF6054;

// Update Bulma's global variables
$success: $success-mine;
$link: $link-mine;
$danger: $danger-mine;

@import "../../node_modules/bulma/bulma.sass";